         <div
           class="col-sm-10 col-sm-offset-1 alert alert-{{message.type}}"
            *ngIf="message.text"
         >
           {{message.text}}
         </div>
          <form class="form-horizontal" role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div
              class="form-group"
              [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}"
            >
              <div class="col-sm-2 col-sm-offset-1"><h4>Email</h4></div>
              <div class="col-sm-10 col-sm-offset-1">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter your email"
                  formControlName="email"
                >
                <span *ngIf="form.get('email').invalid && form.get('email').touched">
                  <span *ngIf="form.get('email')['errors']['required']" >The email should not be blank.</span>
                  <span *ngIf="form.get('email')['errors']['email'] && form.get('email').value" >Please enter correct email.</span>
                </span>
              </div>
            </div>
            <div
              class="form-group"
              [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}"
            >
              <div class="col-sm-2 col-sm-offset-1"><h4>Password</h4></div>
              <div class="col-sm-10 col-sm-offset-1">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Enter your password"
                  formControlName="password"
                >
                <span *ngIf="form.get('password').invalid && form.get('password').touched">
                  <span *ngIf="form.get('password')['errors']['required']">The password should not be blank.</span>
                  <span *ngIf="form.get('password')['errors']['minlength']">
                    The password should be more than {{form.get('password')['errors']['minlength']['requiredLength']}} symbols.
                    Now you enter only {{form.get('password')['errors']['minlength']['actualLength']}}</span>
                </span>
              </div>
            </div>
            <div class="form-group last">
              <div class="col-sm-10 col-sm-offset-1">
                <button type="submit" class="btn btn-info btn-sm btn-block" [disabled]="form.invalid">
                  Sign in</button>
              </div>
              <div class="col-sm-2 col-sm-offset-1">&nbsp;</div>
              <div class="col-sm-12 col-sm-offset-2">
                No an account? <a routerLink="/registration">Register here!</a>
              </div>
            </div>
          </form>
