<div class="row">
  <div class="col-md-12">
    <h4>Find Books Page</h4>
    <hr color="#f00">
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel">
      <div class="panel-heading bordered">
        <div class="header-block">
          <h4>Find Book</h4>
          <hr width="100%">
        </div>
      </div>
      <div class="panel-body">
        <form [formGroup]="form" (ngSubmit)="loadBooks()">
          <div
            class="form-group"
            [ngClass]="{'has-error': form.get('searchValue').invalid && form.get('searchValue').touched}"
          >
            <label class="control-label" for="search">Please enter search name</label>
            <input
              type="text"
              class="form-control"
              id='search'
              formControlName="searchValue"
              [(ngModel)]="searchString"
            >
            <span *ngIf="form.get('searchValue').invalid && form.get('searchValue').touched">
              <span *ngIf="form.get('searchValue')['errors']['required']">The search field should not be blank</span>
            </span>
          </div>
          <div class="form-group">
            <label class="control-label">Choose type of search</label>
            <div>
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="radio"
                  name="search"
                  value="author"
                  (change)="filter($event)"
                formControlName="search"
                >
                By Author:
              </label>
            </div>
            <div>
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="radio"
                  name="search"
                  value="name"
                  (change)="filter($event)"
                  formControlName="search"
                >
                By Name:
              </label>
            </div>
          </div>
        <button type="submit" class="btn btn-info" [disabled]="form.invalid">Search</button>
          <a routerLink="/books/findBooks" class="btn btn-info glyphicon glyphicon-refresh" (click)="refreshParams()"></a>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel" *ngIf="searchParam && searchString">
      <div class="panel-heading bordered">
        <div class="header-block">
          <h4>Founded results</h4>
          <hr width="100%">
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-bordered table-hover table-condensed table-responsive" width="10px">
          <tr>
            <th>Id</th>
            <th>Author</th>
            <th>Name</th>
            <th>Ordered</th>
            <th>Detail</th>
          </tr>
          <tr *ngFor="let book of books | findBooksFilter:searchString:searchFieldName; let lineNumber = index">
            <td><span class="badge order" [ngClass]="{'ordered': checkOrderDate(book.orderDate)}">{{lineNumber + 1}}</span>&nbsp;</td>
            <td><strong>{{book.author}}</strong></td>
            <td>{{book.name | uppercase}}</td>
            <td><input type="button" class="btn btn-xs btn-info" (click)="onChangeStatus(book, curUser.name)" [ngClass]="{'ordered': checkOrderDate(book.orderDate)}" [value]= "checkOrderDate(book.orderDate)? 'Yes': 'No'"></td>
            <td><a
              [routerLink]="['/books/findBooks', book.id]"
              [queryParams]="{index: book.index, author: book.author, name: book.name, orderDate: book.orderDate, user: book.user}"
            class="btn btn-xs btn-info" (click)="changeDetailParam()">Detail</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel" *ngIf="detailParam && searchString">
      <div class="panel-heading bordered">
        <div class="header-block">
          <h4>Book Detailed Info</h4>
          <hr width="100%">
        </div>
      </div>
      <div class="panel-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
