<div class="title-block">
  <h3 class="title">Add Books Page</h3>
</div>
<section class="section">
  <div class="row">
    <div class="col-md-6 col-md-push-0">
      <div class="card">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">Add Book</h3>
          </div>
        </div>
        <div class="card-block">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label class="control-label" for="library">Please choose Library</label>
              <select class="form-control" id="library">
                <option>first library</option>
                <option>second library</option>
                <option>third library</option>
                <option>fourth library</option>
              </select>
            </div>
            <div class="form-group">
              <label class="control-label" for="book-index">Book index</label>
              <input type="text" id="book-index" class="form-control">
             </div>
            <div
              class="form-group"
              [ngClass]="{'has-error': form.get('authorName').invalid && form.get('authorName').touched}"
            >
              <label class="control-label" for="author-name">Author name</label>
              <input
                type="text"
                id="author-name"
                class="form-control"
                formControlName="authorName"
              >
              <span *ngIf="form.get('authorName').invalid && form.get('authorName').touched">
                <span *ngIf="form.get('authorName')['errors']['required']">The author name should not be blank</span>
              </span>
            </div>
            <div
              class="form-group"
              [ngClass]="{'has-error': form.get('bookName').invalid && form.get('bookName').touched}"
            >
              <label class="control-label" for="book-name">Book name</label>
              <input
                type="text"
                id="book-name"
                class="form-control"
                formControlName="bookName"
              >
              <span *ngIf="form.get('bookName').invalid && form.get('bookName').touched">
                <span *ngIf="form.get('bookName')['errors']['required']">The book name should not be blank</span>
              </span>
            </div>
            <div class="form-group">
              <label class="control-label" for="count">Book counts</label>
              <input type="number" value="1" id="count" class="form-control" min="1">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add book</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
