<div class="main">
  <div class="app">
    <!--HEADER-->
    <header class="header">
      <div class="header-block header-block-search">
        <strong>{{curDate | date: 'dd'}}/{{curDate | date:'MM'}}/{{curDate | date: 'yyyy'}}</strong>
      </div>
      <div class="header-block header-block-nav">
        <!--<ul class="nav-profile">-->
          <!--<li class="profile dropdown">-->
            <!--<a class="nav-link dropdown-toggle" href="#" role="button">-->
                                <!--<span class="name">-->
                                    <!--Здравствуйте, Ирина-->
                                <!--</span>-->
            <!--</a>-->
            <!--<div class="dropdown-menu profile-dropdown-menu">-->
              <!--<a class="dropdown-item" href="#"> <i class="fa fa-gear icon"></i>Сделать запись</a>-->
              <!--<div class="dropdown-divider"></div>-->
              <!--<a class="dropdown-item" href="#"><i class="fa fa-power-off icon"></i>Выйти</a>-->
            <!--</div>-->
          <!--</li>-->
        <!--</ul>-->
      </div>
    </header>
    <!--HEADER-->
    <!--SIDEBAR-->
    <aside class="sidebar">
      <div class="sidebar-container">
        <div class="sidebar-header">
          <div class="brand">
            Books
          </div>
        </div>
        <nav class="menu">
          <ul class="nav metismenu">
            <li class="active">
              <a [routerLink]="['findBooks']" > <i class="glyphicon glyphicon-search"></i> Find Books </a>
            </li>
            <li>
              <a [routerLink]="['addBooks']" > <i class="glyphicon glyphicon-plus"></i> Add Books </a>
            </li>
          </ul>
        </nav>
      </div>
    </aside>
    <!--SIDEBAR-->
    <!--CONTENT-->
    <article class="content dashboard-page">
      <router-outlet></router-outlet>
    </article>
    <!--CONTENT-->
  </div>
</div>

